@model Product
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4"></h1>
    <p>@Model.Id</p>
    <p>@Model.Name</p>
    <p>@Model.Cost руб.</p>
    <p>@Model.Description</p>
</div>
