@model Product
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4"></h1>
    @if (Model == null)
    {
        <p>Извините, товар не найден</p>
    }
    else
    {
        <p>@Model.Id</p>
        <p>@Model.Name</p>
        <p>@Model.Cost руб.</p>
        <p>@Model.Description</p>
    }

</div>
