@model IEnumerable<Role>


@if (Model == null || Model.Count() == 0)
{
    <p class="alert-danger">Ролей нет</p>
    <div>
        <a class="btn btn-primary" href="/Admin/AddRole" role="button">Добавить новую роль</a>
    </div>
    <br />
}
else
{
    <h1>Роли</h1>
    <br />
    <div>
        <a class="btn btn-primary" href="/Admin/AddRole" role="button">Добавить новую роль</a>
    </div>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Список ролей</th>
            </tr>
        </thead>
        <tbody>
            @{ int i = 1;}
            @foreach (var role in Model)
            {
                <tr>
                    <th scope="row">@i</th>
                    <td>@role.Name</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Подробнее
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    <a class="dropdown-item" href="/Admin/EditRole?name=@role.Name">Редактировать</a>
                                    <a class="dropdown-item" href="/Admin/DeleteRole?name=@role.Name">Удалить</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    @{i++;}
                </tr>
            }
        </tbody>
    </table>
}
