@model UserContactViewModel
<div class="row">
    <div class="col-auto">
        <form method="post">
            <h5 class="card-title">Оформление заказа</h5>
            <div class="validatoin" asp-validation-summary="ModelOnly"></div>
            <p class="card-text">Введите Ваши данные</p>
            <div>
                <div>
                    <label asp-for="Name">Имя</label>
                </div>
                <input asp-for="Name" tabindex="1" type="text" name="Name">
                <span asp-validation-for="Name"></span>
            </div>
            <div>
                <div>
                    <label asp-for="Surname">Фамилия</label>
                </div>
                <input asp-for="Surname" tabindex="2" type="text" name="Surname">
                <span asp-validation-for="Surname"></span>
            </div>
            <div>
                <label asp-for="Adress">Адрес</label>
            </div>
            <div>
                <input asp-for="Adress" tabindex="3" type="text" name="Adress">
                <span asp-validation-for="Adress"></span>
            </div>
            <div>
                <div>
                    <label asp-for="Phone">Телефон</label>
                </div>
                <input asp-for="Phone" tabindex="4" type="tel" name="Phone">
                <span asp-validation-for="Phone"></span>
            </div>
            <div>
                <div>
                    <label asp-for="Email">Электронная почта</label>
                </div>
                <input asp-for="Email" tabindex="5" type="text" name="Email">
                <span asp-validation-for="Email"></span>
            </div>
            <div>
                <p>Комментарий к заказу</p>
                <textarea tabindex="6" name="Comment" cols="30" rows="10"></textarea>
            </div>
            <br />
            <button class="btn btn-dark" type="submit" asp-area="" asp-controller="Order" asp-action="Accept" tabindex="7">Оформить заказ</button>
        </form>
    </div>
</div>
