@model OrderViewModel
<h5 class="card-title">Спасибо</h5>
<p class="card-text">Ваш заказ №@Model.Number на сумму @Model.Cost руб. принят</p>
<a class="btn btn-dark" asp-area="" asp-controller="Home" asp-action="Index" role="button">Вернуться на главную страницу</a>

