@model List<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Все товары</h1>
    @foreach (var product in Model)
    {
        <p>@product.Id</p>
        <a href="product.@product.Id">@product.Name</a>
        <p>@product.Cost</p>
        <p>@product.Description</p>
    }

</div>
