<h6>Панель администратора</h6>
<div class="list-group">
    <a class="list-group-item" asp-area="Admin" asp-controller="Orders" asp-action="Index">Заказы</a>
    <a class="list-group-item" asp-area="Admin" asp-controller="Users" asp-action="Index">Пользователи</a>
    <a class="list-group-item" asp-area="Admin" asp-controller="Roles" asp-action="Index">Роли</a>
    <a class="list-group-item" asp-area="Admin" asp-controller="Products" asp-action="Index">Продукты</a>
</div>