@model User
<div class="row">
    <div class="col-2">
        @await Html.PartialAsync("AdminLeftMenu")
    </div>
    <div class="col-10">
        <div class="row">
            <div class="col">
                <h4>Сменить пароль для @Model.Login.Name</h4>
                <form method="post" class="form-group">
                    <br />
                    <div class="validatoin badge badge-danger" asp-validation-summary="ModelOnly"></div>
                    <br />
                    <div>
                        <label asp-for="Login.Password">Название</label>
                        <input asp-for="Login.Password" type="text" class="form-control" name="FirstPassword" tabindex="1">
                        <span class="badge badge-danger" asp-validation-for="Login.Password"></span>
                    </div>
                    <div>
                        <label asp-for="Login.Password">Название</label>
                        <input asp-for="Login.Password" type="text" class="form-control" name="SecondPassword" tabindex="2">
                        <span class="badge badge-danger" asp-validation-for="Login.Password"></span>
                    </div>
                    <br />
                    <div>
                        <span>
                            <button type="submit" class="btn btn-primary" asp-area="Admin" asp-controller="Admin" asp-action="AddNewPassword" tabindex="2">Изменить пароль</button>
                            <a class="btn btn-danger" asp-area="Admin" asp-controller="Admin" asp-action="Users" tabindex="3">Отменить</a>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>