@model Microsoft.AspNetCore.Identity.IdentityRole

<div class="row">
    <div class="col-2">
        @await Html.PartialAsync("AdminLeftMenu")
    </div>
    <div class="col-10">

        <div class="row">
            <div class="col">
                <div class="list-group d-flex align-items-center py-5">
                    <h4>Редактирование</h4>
                    <div class="validatoin badge badge-danger" asp-validation-summary="ModelOnly"></div>
                    <form method="post" class="form-group">
                        <div>
                            <label>Название</label>
                            <input readonly type="text" class="form-control" name="OldName" value="@Model.Name">
                        </div>
                        <div>
                            <label asp-for="Name">Новое название</label>
                            <input asp-for="Name" type="text" class="form-control" name="Name" tabindex="1" value="@Model.Name">
                            <span class="badge badge-danger" asp-validation-for="Name"></span>
                        </div>
                        <div>
                            <span>
                                <button type="submit" class="btn btn-primary" asp-area="Admin" asp-controller="Admin" asp-action="ChangeRole" tabindex="2">Изменить</button>
                                <a class="btn btn-danger" asp-area="Admin" asp-controller="Admin" asp-action="Home" tabindex="3">Отменить</a>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
