<div>
    <h1>Вход</h1>
    <form method="post" class="form-group">
        <div>
            <label>Логин</label>
            <input type="text" class="form-control" name="Name" tabindex="1">
            <small class="form-text text-muted">Введите логин</small>
        </div>
        <div>
            <label>Пароль</label>
            <input type="password" class="form-control" name="Password" tabindex="2">
            <small class="form-text text-muted">Введите пароль</small>
        </div>
        <div>
            <input checked type="checkbox" class="form-check-input" name="rememberMe" value="true">
            <label class="form-check-label" for="dropdownCheck">
                Запомнить меня?
            </label>
        </div>
        <button type="submit" class="btn btn-primary" asp-controller="Login" asp-action="CheckIn" tabindex="3">Войти</button>
    </form>
    <div></div>
    <a class="dropdown-item" href="#">Регистрация нового пользователя</a>
    <a class="dropdown-item" href="#">Забыли пароль?</a>
</div>