@* @model Register
<div class="row py-3">
    <div class="col-5">
        <div class="py-1">
            <h1>Регистрация</h1>
        </div>
        <form method="post" class="form-group">
            <div class="validatoin" asp-validation-summary="All"></div>
            <div class="py-1">
                <div>
                    <label asp-for="Email">Email</label>
                </div>
                <input class="container-fluid" asp-for="Email" type="email" name="Email" tabindex="1">
                <span asp-validation-for="Email"></span>
            </div>
            <div class="py-1">
                <div>
                    <label asp-for="Password">Пароль</label>
                </div>
                <input class="container-fluid" asp-for="Password" type="password" name="Password" tabindex="2">
                <span asp-validation-for="Password"></span>
            </div>
            <div class="py-1">
                <div>
                    <label asp-for="CheckPassword">Подтверждение пароля</label>
                </div>
                <input class="container-fluid" asp-for="CheckPassword" type="password" name="CheckPassword" tabindex="3">
                <span asp-validation-for="CheckPassword"></span>
            </div>
        </form>
    </div>
</div> *@
@model Register
<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Регистрация</p>
                                <form class="mx-1 mx-md-4" method="post">
                                    <div class="text-danger" asp-validation-summary="All"></div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="email" class="form-control" name="Email" tabindex="1" />
                                            <label class="form-label" for="Email">Email</label>
                                            <span class="text-danger" asp-validation-for="Email"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="password" class="form-control" name="Password" tabindex="2" />
                                            <label class="form-label" for="Password">Пароль</label>
                                            <span class="text-danger" asp-validation-for="Password"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="password" class="form-control" name="CheckPassword" tabindex="3"/>
                                            <label class="form-label" for="CheckPassword">Подтверждение пароля</label>
                                            <span class="text-danger" asp-validation-for="CheckPassword"></span>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        @if (string.IsNullOrEmpty(Model?.ReturnUrl))
                                        {
                                            <button type="submit" class="btn btn-dark container-fluid" asp-area="" asp-controller="Login" asp-action="Create" tabindex="4">Регистрация</button>
                                        }
                                        else
                                        {
                                            <button type="submit" class="btn btn-dark container-fluid" asp-area="" asp-controller="Login" asp-action="Create" asp-route-returnUrl="@Model.ReturnUrl" tabindex="4">Регистрация</button>
                                        }
                                    </div>
                                    <input type="hidden" name="returnUrl" value="@Model?.ReturnUrl" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
