@model UserViewModel
<div class="row py-5">
    <div class="col">
        <div class="row">
            <h4>Вы зарегистрировались или вошли в личный кабинет</h4>
        </div>
        <div class="row py-5">
            <div class="text-left">
                <div class="btn-group-vertical" role="group" aria-label="Basic example">
                    <a class="btn btn-dark" asp-area="" asp-controller="Home" asp-action="Index" role="button">Продолжить покупки</a>
                    <a class="btn btn-secondary" asp-area="" asp-controller="Profile" asp-action="Index" asp-route-name="@Model.Login.Name" role="button">Личный кабинет</a>
                </div>
            </div>
        </div>
    </div>
</div>

