@model User
<div class="row">
    <div class="col-2">
        <div class="list-group">
            <a class="list-group-item" asp-area="" asp-controller="Profile" asp-action="Orders" asp-route-name="@Model.Login.Name">Мои заказы</a>
            <a class="list-group-item" asp-area="" asp-controller="Profile" asp-action="Favorites" asp-route-name="@Model.Login.Name">Избранное</a>
            <a class="list-group-item" asp-area="" asp-controller="Profile" asp-action="Contacts" asp-route-name="@Model.Login.Name">Личные данные</a>
            <a class="list-group-item" asp-area="" asp-controller="Profile" asp-action="Logout" asp-route-name="@Model.Login.Name">Выйти</a>
        </div>
    </div>
    <div class="col-10">

        <div class="row">
            <div class="col">
                <div class="list-group d-flex align-items-center py-5">
                    <h4>Избранные товары</h4>
                </div>
            </div>
        </div>
    </div>
</div>