<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta keywords="интернет-магазин десткий товаров, детские товары, игрушки, одежда для мальчиков, одежда для девочек, конструкторы, все для детей">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] Интернет-магазин дестких товаров</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" href="~/img/iconBear.jpg" type="image/x-icon" />
</head>
<body>
    <header>
        <nav>
            <a asp-controller="Home" asp-action="Index">Доставка</a>
            <a asp-controller="Home" asp-action="Index">Войти</a>
        </nav>
        <span>
            <a href="/img/icon_Cart.png" asp-controller="Cart" asp-action="Index">Корзина</a>
        </span>

        <div class="buttons">
            <a class="ui-link compare-link" href="/compare/">
                <span class="compare-link__badge compare-link__badge_empty"></span>
                <span class="compare-link__icon"></span>
                <span class="compare-link__lbl">Сравнить</span>
            </a><a class="ui-link wishlist-link" href="/wishlist/index/">
                <span class="wishlist-link__badge wishlist-link__badge_empty"></span>
                <span class="wishlist-link__icon"></span><span class="wishlist-link__lbl">Избранное</span>
            </a>
            <a class="ui-link cart-link" href="/order/begin/" data-commerce-target="CART">
                <span class="cart-link__badge cart-link__badge_empty"></span>
                <span class="cart-link__icon"></span><span class="cart-link__lbl">Корзина</span>
            </a>
        </div>




    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <p>2021 - Интернет-магазин дестких товаров</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
