<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta keywords="интернет-магазин десткий товаров, детские товары, игрушки, одежда для мальчиков, одежда для девочек, конструкторы, все для детей">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] Интернет-магазин дестких товаров</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" href="~/img/iconBear.jpg" type="image/x-icon" />
</head>
<body>

    <header>
        <nav>
            <a href="/Home/Index"><img src="/img/bearIcon.png" alt="Главная страница"></a>
            <a href="/Cart/Index"><img src="/img/Cart.png" alt="Корзина">Корзина</a>
            <a href="/Compare/Index"><img src="/img/Compare.png" alt="Сравнить">Сравнить</a>
            <a href="/Favorites/Index"><img src="/img/Favorites.png" alt="Избранное">Избранное</a>
            <a href="#"><img src="/img/Delivery.png" alt="Доставка">Доставка</a>
            <a href="#"><img src="/img/Profile.png" alt="Войти">Войти</a>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer>
        <div class="row">
            <div class="col-4">
                <div><a asp-controller="Home" asp-action="Index">Покупателям</a></div>
                <div><a asp-controller="Home" asp-action="Index">Как сделать заказ</a></div>
                <div><a asp-controller="Home" asp-action="Index">Способы оплаты</a></div>
                <div><a asp-controller="Home" asp-action="Index">Доставка</a></div>
                <div><a asp-controller="Home" asp-action="Index">Возврат товара</a></div>
                <div><a asp-controller="Home" asp-action="Index">Вопросы ответы</a></div>
            </div>
            <div class="col-4">
                <div><a asp-controller="Home" asp-action="Index">Компания</a></div>
                <div><a asp-controller="Home" asp-action="Index">О нас</a></div>
                <div><a asp-controller="Home" asp-action="Index">Контакты</a></div>
                <div><a asp-controller="Home" asp-action="Index">Реквизиты</a></div>
                <div><a asp-controller="Home" asp-action="Index">Вакансии</a></div>
            </div>
            <div class="col-4">
                <div><a asp-controller="Home" asp-action="Index">Статьи</a></div>
                <div><a asp-controller="Home" asp-action="Index">Как выбрать товар</a></div>
                <div><a asp-controller="Home" asp-action="Index">Советы по использованию</a></div>
            </div>
        </div>
        <div class="container">
            <p>2021 - Интернет-магазин детcких товаров</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
