<h6>Панель администратора</h6>
<div class="list-group">
    <a class="list-group-item" href="/Admin/Orders">Заказы</a>
    <a class="list-group-item" href="/Admin/Users">Пользователи</a>
    <a class="list-group-item" href="/Admin/Roles">Роли</a>
    <a class="list-group-item" href="/Admin/Products">Продукты</a>
</div>