<footer>
    <nav class="navbar navbar-light bg-light">
        <div class="row">
            <div class="col-4">
                <div><a href="#">Покупателям</a></div>
                <div><a href="#">Как сделать заказ</a></div>
                <div><a href="#">Способы оплаты</a></div>
                <div><a href="#">Доставка</a></div>
                <div><a href="#">Возврат товара</a></div>
                <div><a href="#">Вопросы ответы</a></div>
            </div>
            <div class="col-4">
                <div><a href="#">Компания</a></div>
                <div><a href="#">О нас</a></div>
                <div><a href="#">Контакты</a></div>
                <div><a href="#">Реквизиты</a></div>
                <div><a href="#">Вакансии</a></div>
            </div>
            <div class="col-4">
                <div><a href="#">Статьи</a></div>
                <div><a href="#">Как выбрать товар</a></div>
                <div><a href="#">Советы по использованию</a></div>
            </div>
        </div>
    </nav>
    <div class="container">
        <p>2021 - Интернет-магазин детcких товаров</p>
    </div>
</footer>