<footer class="py-5 bg-dark">
    <div class="container">
        <nav class="navbar navbar-dark bg-dark">
            <p class="m-0 text-center text-white">2021 - Интернет-магазин детcких товаров</p>
            <div class="row">
                <div class="col-4">
                    <div><a class="m-0 text-center text-white" href="#">Покупателям</a></div>
                    <div><a class="m-0 text-center text-white" href="#">Как сделать заказ</a></div>
                    <div><a class="m-0 text-center text-white" href="#">Способы оплаты</a></div>
                    <div><a class="m-0 text-center text-white" href="#">Доставка</a></div>
                    <div><a class="m-0 text-center text-white" href="#">Возврат товара</a></div>
                    <div><a class="m-0 text-center text-white" href="#">Вопросы ответы</a></div>
                </div>
                <div class="col-4">
                    <div><a class="m-0 text-center text-white" href="#">Компания</a></div>
                    <div><a class="m-0 text-center text-white" href="#">О нас</a></div>
                    <div><a class="m-0 text-center text-white" href="#">Контакты</a></div>
                    <div><a class="m-0 text-center text-white" href="#">Реквизиты</a></div>
                    <div><a class="m-0 text-center text-white" href="#">Вакансии</a></div>
                </div>
                <div class="col-4">
                    <div><a class="m-0 text-center text-white" href="#">Статьи</a></div>
                    <div><a class="m-0 text-center text-white" href="#">Как выбрать товар</a></div>
                    <div><a class="m-0 text-center text-white" href="#">Советы по использованию</a></div>
                </div>
            </div>
        </nav>
    </div>
</footer>