<div class="list-group">
    <a class="list-group-item" asp-area="" asp-controller="Profile" asp-action="Orders">Мои заказы</a>
    <a class="list-group-item" asp-area="" asp-controller="Profile" asp-action="Favorites">Избранное</a>
    <a class="list-group-item" asp-area="" asp-controller="Profile" asp-action="Contacts">Личные данные</a>
    <a class="list-group-item" asp-area="" asp-controller="Profile" asp-action="Logout">Выйти</a>
</div>