<div class="list-group">
    <a class="list-group-item" asp-area="" asp-controller="Profile" asp-action="Orders" asp-route-name="@Constants.UserId">Мои заказы</a>
    <a class="list-group-item" asp-area="" asp-controller="Profile" asp-action="Favorites" asp-route-name="@Constants.UserId">Избранное</a>
    <a class="list-group-item" asp-area="" asp-controller="Profile" asp-action="Contacts" asp-route-name="@Constants.UserId">Личные данные</a>
    <a class="list-group-item" asp-area="" asp-controller="Home" asp-action="Logout" asp-route-name="@Constants.UserId">Выйти</a>
</div>
