@using ModelsLibrary.Helper
@using OnlineShop.Db.Helper
<div class="list-group">
    <a class="list-group-item" asp-area="" asp-controller="Profile" asp-action="Orders" asp-route-name="@Constants.UserId">Мои заказы</a>
    <a class="list-group-item" asp-area="" asp-controller="Profile" asp-action="Favorites" asp-route-name="@Constants.UserId">Избранное</a>
    <a class="list-group-item" asp-area="" asp-controller="Profile" asp-action="Contacts" asp-route-name="@Constants.UserId">Личные данные</a>
    <a class="list-group-item" asp-area="" asp-controller="Login" asp-action="Logout">Выйти</a>
</div>
