@model Login
<div class="row">
    <div class="col-2">
        @await Html.PartialAsync("AdminLeftMenu")
    </div>
    <div class="col-10">
        <div class="row">
            <div class="col">
                <h4>Сменить пароль для @Model.Email</h4>
                <form method="post" class="form-group">
                    <br />
                    <div class="validatoin" asp-validation-summary="All"></div>
                    <br />
                    <div>
                        <label>Пользователь</label>
                        <input type="text" class="form-control" name="Email" value="@Model.Email" placeholder="email" readonly>
                    </div>
                    <div>
                        <label>Старый пароль</label>
                        <input type="text" class="form-control" name="oldPassword" tabindex="2">
                    </div>
                    <div>
                        <label asp-for="Password">Пароль</label>
                        <input asp-for="Password" type="text" class="form-control" name="Password" tabindex="3">
                        <span class="badge badge-danger" asp-validation-for="Password"></span>
                    </div>
                    <div>
                        <label>Подтверждение пароля</label>
                        <input type="text" class="form-control" name="CheckPassword" tabindex="4">
                        <span class="badge badge-danger" asp-validation-for="Password"></span>
                    </div>
                    <br />
                    <div>
                        <span>
                            <button type="submit" class="btn btn-primary" asp-area="Admin" asp-controller="Users" asp-action="AddNewPassword" asp-route-userName="@Model.Email" tabindex="5">Изменить пароль</button>
                            <a class="btn btn-danger" asp-area="Admin" asp-controller="Home" asp-action="Index" tabindex="6">Отменить</a>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>