@model IEnumerable<Product>

<div>
    <a class="btn btn-primary" href="/Admin/AddProductForm" role="button">Добавить новый продукт</a>
</div>
<br />
@if (Model == null || Model.Count() == 0)
{
    <p class="alert-danger">Продуктов нет</p>
}
else
{
    <h1>Продукты</h1>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Id</th>
                <th scope="col">Название продукта</th>
                <th scope="col">Цена</th>
                <th scope="col">Действия</th>
            </tr>
        </thead>
        <tbody>
            @{ int i = 1;}
            @foreach (var product in Model)
            {
                <tr>
                    <th scope="row">@i</th>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Cost</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Подробнее
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    <a class="dropdown-item" href="/Admin/Description/@product.Id">Описание</a>
                                    <a class="dropdown-item" href="/Admin/EditForm/@product.Id">Редактировать</a>
                                    <a class="dropdown-item" href="/Admin/DeleteProduct/@product.Id">Удалить</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    @{i++;}
                </tr>
            }
        </tbody>
    </table>
}
